@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes marquee-vertical-reverse {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration, 30s) linear infinite;
}

.animate-marquee-vertical-reverse {
  animation: marquee-vertical-reverse var(--duration, 30s) linear infinite;
}
